<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/hse1lum.css">
</head>

<body>

  <div class= "container">

    <div class ="levelcontainer">
      <h2 style="margin-top:20px; font-size:20px; margin-left:17px;">LEVEL 1 </h2>
      <div class ="level">
          <div class="levelshow"></div>
          <p>250 points</p>
      </div>
    </div>

    <div class="empty"></div>

    <div class ="camerasearch">
        <div class="holdcamera">
          <a href="http://localhost:9999/cancel"><div class="cameraicon"></div></a></div>

          <div class="searcharea">
            <div class="search">
  <input type="text" id="fname" name="firstname" placeholder="Search here">
  <div class="searchicon"></div>
            </div>
          </div>
        </div>



    <div class="selection">
      <div class="location"></div>
        <div class ="onetotwoone">  <h2 class>Garbage From </h2></div>

              <div class="box one image1"></div>
              <div class="box two image2"></div>
              <div class="box three image3"></div>
              <div class="box four image4"></div>
            <div class="ontotwothree"><div class="viewmore">View More</div></div>
    </div>

    <div class="selection2">

        <div class ="onetotwoone">  <h2>Recent From </h2></div>
          <div class="box one"><p style="padding-top:10px; padding-left:10px">Plastic Cup</p></div>
          <div class="box two"><p style="padding-top:10px; padding-left:10px">Paper Plate</p></div>
          <div class="box three image1"></div>
          <div class="box four"><p style="padding-top:10px; padding-left:10px">Tin Can</p></div>
          <div class="ontotwothree"><div class="viewmore">View More</div></div>
          <!-- <p class= one">Tap garbage to add again</p> -->

    </div>

      <div class="empty2"></div>

      <div class="bottom">

        <div class= "holder1">
            <a href="http://localhost:9999/">
              <div class=" icons home"></div>
            </a>
        </div>

        <div class= "holder2">
            <a href="http://localhost:9999/cancel"><div class=" icons camera "></div></a>
      </div>

          <div class= "holder3">
                <a href="http://localhost:9999/menu">
                    <div class=" icons manual"></div>
                </a>
          </div>

          <div class= "holder4">
            <a href="profile.html">
                <div class=" icons profile"></div>
            </a>
          </div>
      </div>
</div>



</body>

</html>
