<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="https://use.typekit.net/hse1lum.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
    
      

</head>

<body>

  <div class= "container">


    <div class="bincontainer">
      <h1>Bin Location </h1>
      <h3>Material Type: {{ type_trash }}</h3>
      <form action="/action_page.php">
    <input type="text" id="fname" name="firstname" placeholder="Tell us what the object is? Cup, lid etc.">

    <input type="text" id="lname" name="lastname" placeholder="Where is it from? Shop etc. ">

    <input type="submit" value="Submit">
  </form>
    </div>

    <div class="thankyou">
    <h1> Thank you! </h1>
    <h3>For making our planet just <br>a little more green!</h3>
    <div class="viewmore">Done</div>
    </div>



    <div class="bottom">

      <div class= "holder1">
          <a href="index.html">
            <div class=" icons home"></div>
          </a>
      </div>

      <div class= "holder2">
          <a href="camera.html"><div class=" icons camera "></div></a>
    </div>

        <div class= "holder3">
              <a href="manual.html">
                  <div class=" icons manual"></div>
              </a>
        </div>

        <div class= "holder4">
          <a href="profile.html">
              <div class=" icons profile"></div>
          </a>
        </div>
    </div>

  </div>






</body>

</html>
