@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body {
    margin:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: white;
    padding-right: 20px;




}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
  padding:0;
  font-size: 15px;
  font-family: museo-sans-rounded, sans-serif;
}

h2 {
  color: #006AC3;
}


a {
  text-decoration: none;
}



.location{

  grid-column: 4;
  grid-row: 1;
  background-size: contain;
  background-image: url("icons/location.svg");
  background-repeat:no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 40%;
  cursor: pointer;





}


.camerasearch {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;

  width: 100%;
  height: 100%;


  /* background-color:grey; */

}

.camerasearchman {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
margin-top:20px;
  width: 100%;
  height: 100%;


  /* background-color:grey; */

}


.cameraicon {
  background-size: contain;
  background-image: url("icons/logo.svg");
  background-repeat:no-repeat;
  width: 120px;
  height: 120px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row:1;
  margin:auto;


}

.logo2 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  background-size: contain;
  background-image: url("icons/logo2.svg");
  background-repeat:no-repeat;
  width: 120px;
  height: 120px;
  margin:auto;
}

input[type=text], select {
  width: 65%;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: 10px;
  display: inline-block;
  border: 1px solid white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
    border-radius: 25px;
margin-left: 40px;
z-index:-1;


}

input[type=submit] {
  width: 90px;
  background-color: #1ED56D;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

}

input[type=submit]:hover {
  background-color: #45a049;
}

.box {
margin-top: 20px;
    width: 70px;
    margin-left: 10px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

    background-color:white;
    font-family: museo-sans-rounded, sans-serif;
    color: grey;


}

.searchicon {
  background-size: contain;
  background-repeat: no-repeat;
    background-image: url("icons/search.svg");
  width: 20px;
  height: 20px;
  margin-left: 88%;
  margin-top:-35px;
  cursor:pointer;

}

.levelshow {
  background-size: contain;
  background-repeat: no-repeat;
    background-image: url("icons/level.svg");
  width: 180px;
  height: 22px;
  float:right;
  margin-top: -20px;
}

.levelcontainer p {
  margin-left: 80%;
  padding:0;
  font-size: 10px;

}

.levelcontainer2 {

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;

  width: 100%;
  height: 60px;
}

.levelcontainer2 p {
  margin-left: 75%;
  padding:0;
  font-size: 10px;

}

.tell {
  padding: 20px;
  height: 60px;
  width: 300px;
  border-radius: 25px;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
margin-left: 40px;
margin-top: 50px;

}

.levelshow2 {
  background-size: contain;
  background-repeat: no-repeat;
    background-image: url("icons/level.svg");
  width: 400px;
  height: 50px;
  float:right;
  margin-top: 0px;
}

.level p{
  margin-left: 10%;
}

.leve {

  padding-top: 10px;

}

.viewmore {
  width: 75px;
  height: 14px;
  font-size: 15px;
  padding: 10px;
    font-family: museo-sans-rounded, sans-serif;
  background-color: #1ED56D;
  border-radius: 16px;
  text-align: center;
  color:white;


  margin-top: 10px;
  cursor:pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 20vh; */
    grid-template-rows: 7vh 8vh 24vh 25vh 25vh 4vh 7vh;
    width: 100vw;
    height: 100vh;

}
#my_camera {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
  width: 100%;
  height: 100%;
  /* background-color:red; */



}


.levelcontainer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;

  width: 100%;
  height: 60px;
}

.empty {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  /* background-color:blue; */
}



.selectionb {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
margin:auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: 10% 70% 20%;

  width: 80%;
  padding: 5%;
  height: 80%;
  /* background-color:grey; */
}

.selection {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
margin:auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: 10% 70% 20%;

  width: 80%;
  padding: 5%;
  height: 80%;
  /* background-color:grey; */
}


.selection2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: 10% 70% 20%;

  width: 80%;
  padding: 5%;
  height: 80%;
  /* background-color:grey; */
}



.onetotwoone {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

}

.image1 {
  background-image: url("icons/starbucks.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.image2 {
  background-image: url("icons/burgerking.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image3 {
  background-image: url("icons/mcdonalds.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image4 {
  background-image: url("icons/tims.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ontotwothree {

  grid-column-start:4;
  grid-column-end: 4;
    grid-row-start: 3;
      grid-row-end: 3;
width: 100%;
height: 100%;
/* background-color:red; */

}



.one {
  grid-column: 1;
  grid-row: 2;
}

.two {
  grid-column: 2;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 2;
}

.four {
  grid-column: 4;
  grid-row: 2;
}

.empty2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 6;
   /* background-color: green; */
}

.bottom {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 7;
  padding-top: 8px;
  width: 100%;
  height:auto;
  background-color:white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.15);

}

.holder1 {
    grid-column: 1;


      margin-left: 30px;

}

.holder2 {
    grid-column: 2;
  margin-left: 30px;

}
.holder3 {
    grid-column: 3;
    margin-left: 30px;

}
.holder4 {
    grid-column: 4;
    margin-left: 30px;

}


.icons {
  background-size: contain;
  background-repeat:no-repeat;

  width: 20px;
  height: 20px;
  padding: 5px;



}
.home {
  background-image: url("icons/home.svg");


}

.camera {
  background-image: url("icons/camera.svg");


}

.manual {
  background-image: url("icons/pencil.svg");

}


.profile {

  background-image: url("icons/user.svg");

}

.user {
  color:white;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #006AC3 0%, #01FE6F 100%);
}
