<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
      <link rel="stylesheet" href="master.css">
  <link rel="stylesheet" href="https://use.typekit.net/hse1lum.css">
</head>

<body>

  <div class= "container">

    <div class ="levelcontainer">
      <div class="user"><h1 style="color:white; padding-top: 20px; padding-left: 50px;">Musa Whit</h1></div>
    </div>


    <div class ="levelcontainer2">
      <h2 style="margin-top:20px; font-size:20px; margin-left:20px;">LEVEL 1 </h2>
      <div class ="level">
          <div class="levelshow2"></div>
          <p>20exp until Next Level<br>
            <strong>Reward points:</strong>100 points
            <br><br>20 recycled items = 10 points
          </p>

          <div class="tell">
            <h1 style ="  font-size: 30px;
              color: #1ED56D;
              font-weight: 700;">15</h1>
            <h2>Recycled Items</h2>
          </div>

      </div>

      <h2 style="padding-left:55px; line-height: 1.5em; margin-top:20px;">
        Claim Rewards<br>
  Edit Frequent<br>
  Logout<br>
  Password Change<br>
  Link to RBC Account<br>
  Delete Data<br>
  </h2>

    </div>




      <div class="empty2"></div>

      <div class="bottom">

        <div class= "holder1">
            <a href="home.html">
              <div class=" icons home"></div>
            </a>
        </div>

        <div class= "holder2">
            <a href="camera.html"><div class=" icons camera "></div></a>
      </div>

          <div class= "holder3">
                <a href="manual.html">
                    <div class=" icons manual"></div>
                </a>
          </div>

          <div class= "holder4">
            <a href="profile.html">
                <div class=" icons profile"></div>
            </a>
          </div>
      </div>






</body>

</html>
